<div class="col-xs-11 col-sm-11 col-md-11 col-lg-12">
  <div class="tab-opia">
    <ul class="nav nav-tabs" *ngIf="this.model.id > 0">
      <li [ngClass]="this.activeTab == 1?'active':''">
        <a data-toggle="tab" (click)="ChangeTab(1)">Detail</a>
      </li>
      <li [ngClass]="this.activeTab == 2?'active':''">
        <a data-toggle="tab" (click)="ChangeTab(2)">Employee Punches</a>
      </li>
      <li style="float:right">
        <button type="button" [routerLink]="['/user']" class="btn btn-theme btn-sm pull-right"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Back</button>
      </li>
    </ul>

    <div class="tab-content" style="border-top:none;" *ngIf="this.activeTab == 1">
      <div id="tab-general" class="tab-pane fade in active">
        <div class="area-form">
          <form id="manageform" #manageform="ngForm" (submit)="ManageUser()">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">Company *</div>
                <select class="form-control select" [disabled]="model.id > 0"
                        id="companyid"
                        name="companyid"
                        #companyid="ngModel"
                        [(ngModel)]="model.companyid"
                        [class.required]="companyid.touched && companyid.invalid"
                        required>
                  <option [ngValue]="undefined" class="">-- Select Company --</option>
                  <ng-container *ngIf="company_list && company_list.records">
                    <ng-container *ngFor="let obj of company_list.records">
                      <option value={{obj.id}}>{{obj.name}}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">First Name *</div>
                <input type="text"
                       class="form-control" id="firstname" name="firstname"
                       #firstname="ngModel"
                       [(ngModel)]="model.firstname"
                       [class.required]="firstname.touched && firstname.invalid"
                       required />
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">Last Name *</div>
                <input type="text"
                       class="form-control" id="lastname" name="lastname"
                       #lastname="ngModel"
                       [(ngModel)]="model.lastname"
                       [class.required]="lastname.touched && lastname.invalid"
                       required />
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">Number *</div>
                <input type="text"
                       class="form-control" id="phonenumber" name="phonenumber"
                       #phonenumber="ngModel"
                       [(ngModel)]="model.phonenumber"
                       [class.required]="phonenumber.touched && phonenumber.invalid"
                       required />
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">Password *</div>
                <input type="text"
                       class="form-control" id="password" name="password"
                       #password="ngModel"
                       [(ngModel)]="model.password"
                       [class.required]="password.touched && password.invalid"
                       required />
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">Shift *</div>
                <select class="form-control select" 
                        id="Shifttype"
                        name="Shifttype"
                        #Shifttype="ngModel"
                        [(ngModel)]="model.Shifttype"
                        [class.required]="Shifttype.touched && Shifttype.invalid"
                        required>
                  <option [ngValue]="undefined" class="">-- Select Office Shift Time --</option>
                  <option value="0">09:00 AM</option>
                  <option value="1">09:30 AM</option>
                  <option value="2">10:00 AM</option>
                  <option value="3">10:30 AM</option>
                </select>
              </div>
            </div>

            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label" style="float: left;">&nbsp;</div>
                <div class="rightside-btn1 spacer-bottom-10" style="float:left;">
                  <a [routerLink]="['/company']" class="btn btn-theme btn-sm pull-right" style="margin-right: 5px;">Cancel</a>
                  <button type="submit" class="btn btn-theme btn-sm pull-right" style="margin-right: 5px;"
                          [disabled]="manageform.invalid">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="tab-content" style="border-top:none;" *ngIf="this.activeTab == 2">
      <div class="header-location-content">
        <div class=" spacer-top-20 spacer-bottom-20">
          <table class="table table-theme">
            <thead>
              <tr>
                <th style="text-align:center">Employees</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align:center">coming soon</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="tab-content" style="border-top:none;" *ngIf="this.activeTab == 3">
      <div class="header-location-content">
        <div class=" spacer-top-20 spacer-bottom-20">
          <table class="table table-theme">
            <thead>
              <tr>
                <th style="text-align:center">Employee Punches</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="text-align:center">coming soon</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>
