<div class="col-xs-11 col-sm-11 col-md-11 col-lg-12">
  <div class="tab-opia">
    <ul class="nav nav-tabs" *ngIf="this.model.id > 0">
      <li [ngClass]="this.activeTab == 1?'active':''">
        <a data-toggle="tab" (click)="ChangeTab(1)">Detail</a>
      </li>
      <li [ngClass]="this.activeTab == 2?'active':''">
        <a data-toggle="tab" (click)="ChangeTab(2)">Employee Punches</a>
      </li>
      <li [ngClass]="this.activeTab == 3?'active':''">
        <a data-toggle="tab" (click)="ChangeTab(3)">Employee Leaves</a>
      </li>
      <li style="float:right">
        <button type="button" [routerLink]="['/user']" class="btn btn-theme btn-sm pull-right"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp; Back</button>
      </li>
    </ul>

    <div class="tab-content" style="border-top:none;" *ngIf="this.activeTab == 1">
      <div id="tab-general" class="tab-pane fade in active">
        <div class="area-form">
          <form id="manageform" #manageform="ngForm" (submit)="ManageUser()">
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">Company *</div>
                <select class="form-control select" [disabled]="model.id > 0"
                        id="companyid"
                        name="companyid"
                        #companyid="ngModel"
                        [(ngModel)]="model.companyid"
                        [class.required]="companyid.touched && companyid.invalid"
                        required>
                  <option [ngValue]="undefined" class="">-- Select Company --</option>
                  <ng-container *ngIf="company_list && company_list.records">
                    <ng-container *ngFor="let obj of company_list.records">
                      <option value={{obj.id}}>{{obj.name}}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">First Name *</div>
                <input type="text"
                       class="form-control" id="firstname" name="firstname"
                       #firstname="ngModel"
                       [(ngModel)]="model.firstname"
                       [class.required]="firstname.touched && firstname.invalid"
                       required />
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">Last Name *</div>
                <input type="text"
                       class="form-control" id="lastname" name="lastname"
                       #lastname="ngModel"
                       [(ngModel)]="model.lastname"
                       [class.required]="lastname.touched && lastname.invalid"
                       required />
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">Number *</div>
                <input type="text"
                       class="form-control" id="phonenumber" name="phonenumber"
                       #phonenumber="ngModel"
                       [(ngModel)]="model.phonenumber"
                       [class.required]="phonenumber.touched && phonenumber.invalid"
                       required />
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4" *ngIf="model.id == 0">
              <div class="form-group form-group-theme">
                <div class="label">Password *</div>
                <input type="text"
                       class="form-control" id="password" name="password"
                       #password="ngModel"
                       [(ngModel)]="model.password"
                       [class.required]="password.touched && password.invalid"
                       required />
              </div>
            </div>
            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label">Shift *</div>
                <select class="form-control select"
                        id="Shifttype"
                        name="Shifttype"
                        #Shifttype="ngModel"
                        [(ngModel)]="model.Shifttype"
                        [class.required]="Shifttype.touched && Shifttype.invalid"
                        required>
                  <option [ngValue]="undefined" class="">-- Select Office Shift Time --</option>
                  <option value="0">09:00 AM</option>
                  <option value="1">09:30 AM</option>
                  <option value="2">10:00 AM</option>
                  <option value="3">10:30 AM</option>
                </select>
              </div>
            </div>

            <div class="col-xs-11 col-sm-11 col-md-11 col-lg-4">
              <div class="form-group form-group-theme">
                <div class="label" style="float: left;">&nbsp;</div>
                <div class="rightside-btn1 spacer-bottom-10" style="float:left;">
                  <a [routerLink]="['/user']" class="btn btn-theme btn-sm pull-right" style="margin-right: 5px;">Cancel</a>
                  <button type="submit" class="btn btn-theme btn-sm pull-right" style="margin-right: 5px;"
                          [disabled]="manageform.invalid">
                    Save
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="tab-content" style="border-top:none;" *ngIf="this.activeTab == 2">
      <div class="header-location-content">
        <div class=" spacer-top-20 spacer-bottom-20">
          <table class="table table-theme">
            <thead>
              <tr>
                <th>User</th>
                <th>Date</th>
                <th>In Time</th>
                <th>Out Time</th>
                <th>Total Tasks</th>
                <th>Total Hours</th>
                <th style="text-align:center;">Late Commer</th>
                <th style="text-align:center;">Early Out</th>
                <th style="text-align:center;">System Punch Out</th>
              </tr>
            </thead>
            <tbody *ngIf="model_employeepunchelist && model_employeepunchelist.records">
              <tr *ngFor="let obj of model_employeepunchelist.records">
                <td>{{obj.username}}</td>
                <td>{{obj.date}}</td>
                <td>{{obj.clockintime}}</td>
                <td>{{obj.clockouttime}}</td>
                <td>{{obj.totaltasks}}</td>
                <td>{{obj.workinghours}}</td>
                <td style="text-align:center;"><b class="text text-danger">{{obj.latecomer}}</b></td>
                <td style="text-align:center;"><b class="text text-primary">{{obj.earlyouter}}</b></td>
                <td style="text-align:center;"><b class="text text-success">{{obj.issystemclockout}}</b></td>

              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

    <div class="tab-content" style="border-top:none;" *ngIf="this.activeTab == 3">
      <div class="header-location-content">
        <div class=" spacer-top-20 spacer-bottom-20">
          <table class="table table-theme">
            <thead>
              <tr>
                <th>Employee</th>
                <th>Company</th>
                <th>From</th>
                <th>To</th>
                <th style="text-align:center;">Days</th>
                <th style="text-align:center;">Day Type</th>
                <th style="text-align:center;">Leave Type</th>
                <th style="text-align:center;">Leave Status</th>
                <th style="text-align:center;">Paid Leave?</th>
              </tr>
            </thead>
            <tbody *ngIf="model_employeeleaveslist && model_employeeleaveslist.records">
              <tr *ngFor="let obj of model_employeeleaveslist.records">
                <td>{{obj.username}}</td>
                <td>{{obj.companyname}}</td>
                <td>{{obj.fromdate}}</td>
                <td>{{obj.todate}}</td>

                <td style="text-align:center;"><b class="text text-success">{{obj.totaldays}}</b></td>
                <td style="text-align:center;">{{obj.daytype}}</td>
                <td style="text-align:center;">{{obj.leavetype}}</td>
                <td style="text-align:center;">
                  <ng-container *ngIf="obj.leavestatus == 'Pending'">
                    <b class="text text-success">{{obj.leavestatus}}</b>
                  </ng-container>
                  <ng-container *ngIf="obj.leavestatus != 'Pending'">
                    <b class="text text-default">{{obj.leavestatus}}</b>
                  </ng-container>
                </td>
                <td style="text-align:center;">
                  <ng-container *ngIf="obj.ispaidleave">
                    <b class="text text-success">{{obj.totaldays}}</b>
                  </ng-container>
                  <ng-container *ngIf="!obj.ispaidleave">
                    <b class="text text-danger">{{obj.totaldays}}</b>
                  </ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>

  </div>
</div>
